@import '../../base';
.exchange_container{
    @include flexCol(.5rem);
    padding-block: 1rem 4rem;
    .exchanges{
        display: flex;
        &>p{
            flex: 1;
            font-size: 1.75rem;
            font-weight: bold;
        }
    }
}