
.currencies{
    margin-bottom: 2rem;
    .search_crypto{
        padding: .5rem .75rem;
        width: 25rem;
        margin-top: 1rem;
        outline: none;
        border: .2rem solid hwb(0 36% 62%);
        border-radius: .5rem;
        &:hover{
            // outline: 1px solid var(--main-bg);
            outline: none;
            border: .2rem solid var(--main-bg);
        }
    }
}