 

// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

 @import './base';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid gold;
}
html{
  font-size: 62.5%;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
  background-color: aliceblue;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
::-webkit-scrollbar{
  width: 0;
}
:root{
  --white : #fff;
  --black : rgb(0, 0, 0);
  // --main-bg :#f57f17; 
  --main-bg : #00b0ff;
  --link:#3131ee;
}

.title_div{
    @include flex;
   .title{
     font-size: 2.5rem;
   }
   .link{
      font-size: 2rem;
      color: var(--link);
   }
}

@media screen and (max-width:56.25rem){
  html{
    font-size: 59.375%;
  }
  
}
@media screen and (max-width:37.5rem){
  html{
    font-size: 56.25%;
  }
  
}
@media screen and (max-width:25rem){
  html{
    font-size: 53.125%;
  }
 
}

.myapp{

  display: flex;
  @media screen and (max-width:56.25rem){
    @include flexCol(2rem)
   }
  
}
.side_bar_wrapper{
  position: sticky;
  flex-basis: 25rem;
 background-color: var(--main-bg);
 height: 100vh;
 padding: 1.5rem 2rem;
 @media screen and (max-width:56.25rem){
  display: block;
  flex-basis: 5rem;
  padding: 1rem;
 }
}
.main_content_wrapper{
  flex: 1;
  padding: 2rem 2rem 0rem 2rem;
  max-height: 100vh;
  overflow-y: auto;
  &::-webkit-scrollbar{
    width: 0;
  }
  @media screen and (max-width:56.25rem){
     padding-block: 0rem;
  }
}

.mytitle{
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-bg);
  margin: 1.5rem 0;
}
.sec_title{
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1.5rem 0;
}
.myoverview{
  font-size: 1.25rem;
}
.statss{
  // border: 1px solid red;
  margin-block: 2rem;
  padding: 1rem;
  &_item{
    font-size: 1.25rem;
    border-bottom:.2rem solid #ded2d2;
    padding: 1.25rem;
    @include flex();
     div{
      @include flexRow(1rem);
      svg{
        font-size:2rem;
      }
     }
     .value{
      font-weight: bold;
     }
  }
}

.para{
  font-size: 1.25rem;
  text-align: justify;
}
.links{
  .link{
    @include flex();
    font-size: 1.25rem;
    padding: 1rem;
    border-bottom: .2rem solid #ded2d2;
    .add{
      color: var(--link);
      cursor: pointer;
    }
  }
}